.authInputField {
  outline: none;
  border: none;
}

.authInputField * {
  border-radius: 30px !important;
}

.authInputField input:focus {
  outline: none !important;
  border: none !important;
  outline-color: transparent !important;
  border-color: transparent !important;
}

.authInputField input {
  outline: none !important;
  border: none !important;
  outline-color: transparent !important;
  border-color: transparent !important;
  border-radius: 30px !important;
}

.textInput:focus {
  outline: 1px solid #560fc9;
  border: 1px solid #560fc9;
}
